= simple_form_for(@admin) do |f|
  .row
    .col-md-12
      = f.input :email
  .row
    .col-md-12
      = f.input :password
  .row
  .row
    .col-md-7
    .col-md-5
      .btn-group
        = f.button :submit, "CREATE ADMIN", class: 'btn btn-danger ls w_220'
        = link_to 'BACK', admins_path, class: 'btn btn-success ls w_220'

