- model_class = Recording

- unless defined?(no_header)
  .page-header
    %h1= t '.title', :default => model_class.model_name.human.pluralize
- else
  %h5= t '.title', :default => model_class.model_name.human.pluralize

%table{:class => "table table-striped"}
  %thead
    %tr
      %th Project:
      %th Date:
      %th Start:
      %th End:
      %th Group Number:
      %th Base Filename:
      %th= t '.actions', :default => t("helpers.actions")

    - @recordings.each do |recording|
      %tr
        %td= recording.booking.project.project_name
        %td= recording.booking.date
        %td= recording.start_time.strftime "%H:%M:%S"
        %td= recording.end_time != nil ? recording.end_time.strftime("%H:%M:%S") : "--:--:--"
        %td= recording.group_number
        %td= recording.base_filename
        %td= render :partial  => 'layouts/rec_form_actions',
            :locals => {:t_class => "recording", :path => [@project, @booking, recording]}

= link_to 'New Recording',
    polymorphic_path([:new, @project, @booking, :recording]),
    :class => 'btn btn-mini btn-success' if @project

