%table{:class => "table table-striped"}
  %thead
    %tr
      - if @recordings.length > 0
        %th{class: 'col-md-1'} Start
        %th{class: 'col-md-1'} End
        %th{class: 'col-md-1'} #
        %th{class: 'col-md-2'} Filename
        %th{class: 'col-md-1'} 
        %th{class: 'col-md-5'}

    - @recordings.each do |recording|
      %tr
        %td= recording.start_time.strftime "%H:%M"
        %td= recording.end_time != nil ? recording.end_time.strftime("%H:%M") : "--:--:--"
        %td= recording.group_number
        %td= recording.base_filename
        %td= ""
        %td
          .btn-group
            = link_to "VIEW",
                        polymorphic_path([@project, @booking, recording]),
                        :class => 'btn btn-mini btn-primary w_220'
            = link_to "EDIT",
                        edit_polymorphic_path([@project, @booking, recording]),
                        :class => 'btn btn-mini btn-warning w_220'
.table-responsive
  %table{class: ''}
    %tr{class: 'row'}
      %td{class: 'col-md-7'}
      %td{class: 'col-md-4', style: 'margin-left: 5px'}
        = link_to 'NEW RECORDING',
            polymorphic_path([:new, @project, @booking, :recording]),
            :class => 'btn btn-mini btn-danger ls w_440' if @project
