<p id="notice"><%= notice %></p>

<p>
  <b>id:</b>
  <%= @format_lookup.id %>
  <b>Name:</b>
  <%= @format_lookup.name %>
</p>


<%= link_to 'Edit', edit_format_lookup_path(@format_lookup) %> |
<%= link_to 'Back', format_lookups_path %>
