<h1>Listing booking_contacts</h1>

<table>
  <tr>
    <th>Contact name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booking_contacts.each do |booking_contact| %>
  <tr>
    <td><%= booking_contact.contact_name %></td>
    <td><%= link_to 'Show', booking_contact %></td>
    <td><%= link_to 'Edit', edit_booking_contact_path(booking_contact) %></td>
    <td><%= link_to 'Destroy', booking_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking contact', new_booking_contact_path %>
