= simple_form_for [@project, @booking], html: {class: 'form-horizontal'} do |f|
  .row
    = render "layouts/errors", :object => @booking
  .row
    .col-md-6
      .input-group
        %label{for: 'facility_studio', class: 'ls'} STUDIO
        = f.input_field :facility_studio, as: :string,
                        id: 'facility_studio',
                        readonly: true,
                        value: "#{SunraRestApi::Application::config.studio_name.upcase}", 
                        class: 'form-control'

        = f.input :facility_studio, as: :hidden, input_html: { value: "#{SunraRestApi::Application::config.studio_id}" }
    .col-md-6
      %label{for: 'booking_date', class: 'ls'} DATE
      .input-group{id: 'date_picker', class: 'date' }
        = f.input_field :date, 
                        as: :string, 
                        class: 'form-control',
                        value: (@booking.date ? @booking.date : DateTime.now.utc).to_s(:hyphenated_date)

        %span{class: 'input-group-addon'}
          %span{class: 'glyphicon glyphicon-calendar'}
  .row
    .col-md-12
      &nbsp;
  .row
    .col-md-5
      %label{for: 'start_picker', class: 'ls'} START TIME
      .input-group{id: 'start_picker', class: 'date' }
        = f.input_field :start_time, as: :string, class: 'form-control',
          value: @booking.start_time ? @booking.start_time.strftime("%H:%M") : "17:00"

        %span{class: 'input-group-addon'}
          %span{class: 'glyphicon glyphicon-time'}
    .col-md-1
    .col-md-6
      %label{for: 'start_picker', class: 'ls'} END TIME
      .input-group{id: 'end_picker', class: 'date' }
        = f.input_field :end_time, as: :string, class: 'form-control', 
          value: @booking.end_time ? @booking.end_time.strftime("%H:%M") : "23:30"

        %span{:class=>"input-group-addon"}
          %span{:class => "glyphicon glyphicon-time"}
  .row
    .col-md-12
      &nbsp;
  .row
    .col-md-12
      &nbsp;
  .row
    .col-md-4
      %h4{class: 'ls'} WEBCAST BOOKING?
    .col-md-1
      = f.check_box :webcast, class: 'checkbox large_cb'
  .row
    .col-md-12
      &nbsp;
  .row
    .col-md-12
      %label{for: 'start_picker', class: 'ls'} NOTES
      .input-group
        = f.input_field :availability_notes, 
          as: :text,
          class: 'form-control', 
          rows: 6 ,
          cols: 168
  .row
    .col-md-12
      &nbsp;
  .row
    .col-md-6
    .col-md-5
      .btn-group.pull-right
        = f.button :submit, (request.fullpath.end_with?('edit') ? "UPDATE" : "CREATE") , :class => 'btn btn-success ls w_220'
        = link_to "CANCEL", :back, :class => 'btn btn-danger ls w_220'

:javascript
  $(function() {
    $('#date_picker').datetimepicker({format: "DD-MM-YYYY",  daysOfWeekDisabled: [0, 6]});
    $('#start_picker').datetimepicker({format: 'LT'});
    $('#end_picker').datetimepicker({format: 'LT'});
  });
