
%table{:class => "table"}
  %thead
    %tr{class: 'row'}
      %th{class: 'col-md-4'} Project
      %th{class: 'col-md-1'} Date
      %th{class: 'col-md-1'} Start
      %th{class: 'col-md-1'} End
      %th{class: 'col-md-5'} Booking Actions 
  %tbody
    - @bookings.each do |booking|
      %tr{class: 'row'}
        %td{class: 'col-md-4'}= booking.project.project_name
        %td{class: 'col-md-1'}= booking.date
        %td{class: 'col-md-1'}= booking.start_time.strftime "%H:%M"
        %td{class: 'col-md-1'}= booking.end_time.strftime "%H:%M"
        %td{class: 'col-md-5'}
          .btn-group
            = link_to "VIEW BOOKING", [@project, booking],
                        :class => 'btn btn-mini btn-primary ls w_220'
            = link_to "EDIT BOOKING",
              edit_polymorphic_path([@project, booking]),
                        :class => 'btn btn-mini btn-warning ls w_220'

    %tr{class: 'row'}
      %td{class: 'col-md-4'}
      %td{class: 'col-md-1'}
      %td{class: 'col-md-1'}
      %td{class: 'col-md-1'}
      %td{class: 'col-md-5'}
        .digg_pagination.pull-right{style: 'margin-right: 5px'}
          = will_paginate @bookings, :container => false 
