
%table{:class => "table"}
  %thead
    %tr{class: 'row'}
      %th{class: 'col-md-4'} Project
      %th{class: 'col-md-1'} Date
      %th{class: 'col-md-1'} Start
      %th{class: 'col-md-1'} End
      %th{class: 'col-md-5'} Booking Actions 
  %tbody
    - @bookings.each do |booking|
      %tr{class: 'row'}
        %td{class: 'col-md-4'}= booking.project.project_name
        %td{class: 'col-md-1'}= booking.date
        %td{class: 'col-md-1'}= booking.start_time.strftime "%H:%M"
        %td{class: 'col-md-1'}= booking.end_time.strftime "%H:%M"
        %td{class: 'col-md-5'}
          .btn-group
            = link_to "VIEW", [@project, booking],
                        :class => 'btn btn-mini btn-primary ls w_146'
            = link_to "CHANGE",
              edit_polymorphic_path([@project, booking]),
                        :class => 'btn btn-mini btn-warning ls w_146'
            = link_to "DELETE",
              polymorphic_path([@project ? [@project, booking] : :bookings ]),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger ls w_146'

    %tr{class: 'row'}
      %td{class: 'col-md-4'}
      %td{class: 'col-md-1'}
      %td{class: 'col-md-1'}
      %td{class: 'col-md-1'}
      %td{class: 'col-md-5'}
        .digg_pagination.pull-right{style: 'margin-right: 5px'}
          = will_paginate @bookings, :container => false 
