%table{:class => "table "}
  %thead
    %tr
      %th Project
      %th Date
      %th Start
      %th End
      %th Studio
      %th BOOKING ACTIONS
  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.project.project_name
        %td= booking.date
        %td= booking.start_time.strftime "%H:%M"
        %td= booking.end_time.strftime "%H:%M"
        %td= StudioLookup.studio_name_from_id(booking.facility_studio)
        %td
          .btn-group
            = link_to "VIEW BOOKING", [@project, booking],
                        :class => 'btn btn-mini btn-primary'
            = link_to "EDIT BOOKING",
              edit_polymorphic_path([@project, booking]),
                        :class => 'btn btn-mini btn-warning'
            = link_to "DELETE BOOKING",
              polymorphic_path([@project ? [@project, booking] : :bookings ]),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger'
