= simple_form_for @project, html: {class: 'form-horizontal'} do |f|
  .row
    .col-md-12
      = render "layouts/errors", object: @project
  .row
    .col-md-12
      %hr
  .form-group
    .col-md-3
      = f.label :client_name, 'CLIENT NAME', class: 'ls'
    .col-md-8
      = f.input_field :client_name, 
                     class: 'form-control', 
                     placeholder: 'Enter name of client or company.'
  .form-group
    .col-md-3
      = f.label :project_name, 'PROJECT NAME', class: 'ls'
    .col-md-8
      = f.input_field :project_name, 
                      class: 'form-control', 
                      placeholder: 'Enter name or title for project. '
  .form-actions
    .col-md-3
    .col-md-8
      .btn-group
        = f.button :submit, "CREATE", :class => 'btn btn-success ls w_150'
        = link_to "CANCEL", projects_url, :class => 'btn btn-warning ls w_150'
