= simple_form_for @project, :html => {:class => 'form-horizontal well'} do |f|
  = render "layouts/errors", :object => @project

  = f.input :client_name, :label => "CLIENT NAME"
  = f.input :project_name, :label => 'PROJECT NAME'

  <hr/>
  .form-actions
    .btn-group
      = f.button :submit, "CREATE", :class => 'btn btn-success'
      = link_to "CANCEL", :back, :class => 'btn btn-warning'
