- model_class = Project

.container
  .row
    .col-md-12
      %h1 PROJECT: #{@project.project_name}
  .row
    .col-md-5
      %strong CLIENT NAME
      = @project.client_name
    .col-md-5
      .btn-group
        = link_to "BACK TO INDEX",
          [Project], :class => 'btn btn-success'
        = link_to "EDIT PROJECT",
                    edit_polymorphic_path(@project), :class => 'btn btn-warning'
        = link_to "DELETE PROJECT",
                    polymorphic_path(@project),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm',
                               :default => t("helpers.links.confirm",
                               :default => 'Are you sure?')) },
                    :class => 'btn btn-danger'
    .col-md-2
      &nbsp;
      

%hr
.bookings{ :style => "width: 80%;" }
  = render :template => 'bookings/index', :locals => {:no_header => true}

.login
  = #render :template => 'client_login/index', :locals => {:no_header => true}


