<h1>Listing Studio Lookups</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studio_lookups.each do |studio_lookup| %>
  <tr>
    <td><%= studio_lookup.id %></td>
    <td><%= studio_lookup.facility_name %></td>
    <td><%= studio_lookup.studio_name %></td>
    <td><%= link_to 'Show', studio_lookup %></td>
    <td><%= link_to 'Edit', edit_studio_lookup_path(studio_lookup) %></td>
    <td><%= link_to 'Destroy', studio_lookup, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Studio lookup', new_studio_lookup_path %>
