<p id="notice"><%= notice %></p>

<p>
  <b>id:</b>
  <%= @studio_lookup.id %>
</p>
<p>
  <b>Facility Name:</b>
  <%= @studio_lookup.facility_name %>
</p>
<p>
  <b>Studio Name:</b>
  <%= @studio_lookup.studio_name %>
</p>
<p>
  <b>mdns localname:</b>
  <%= @studio_lookup.mdns_localname %>
</p>
<p>
  <b>ip fallback:</b>
  <%= @studio_lookup.ip_fallback %>
</p>
<p>
  <b>phone:</b>
  <%= @studio_lookup.phone %>
</p>
<p>
  <b>active?:</b>
  <%= @studio_lookup.active %>
</p>



<%= link_to 'Edit', edit_studio_lookup_path(@studio_lookup) %> |
<%= link_to 'Back', studio_lookups_path %>
