= link_to t('.show', :default => t("helpers.links.#{t_class}.show")),
            polymorphic_path(path),
            :class => 'btn btn-mini btn-primary'
= link_to t('.edit', :default => t("helpers.links.#{t_class}.edit")),
            edit_polymorphic_path(path),
            :class => 'btn btn-mini btn-warning'
= link_to t('.destroy', :default => t("helpers.links.#{t_class}.destroy")),
            polymorphic_path(path),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger'
