!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title= content_for?(:title) ? yield(:title) : "SUNRA Session Management Interface"
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    / was 3.1.1
    = twitter_bootstrap_stylesheet_link_tag :netdna, force: true, version: '3.3.4'
    / was 1.11.0
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    = twitter_bootstrap_javascript_include_tag :netdna, force: true, version: '3.3.4'
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{'data-target': '.navbar-collapse', 'data-toggle': 'collapse', type: 'button'}
            %span.sr-only TOGGLE NAVIGATION
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            = image_tag('sunratmp.png', alt: 'SUNRA TEMPORARY LOGO', width:"269", height:"56",class:"noborder")
          #navbar-logo-text
            .ls.text-left{style: 'color: #f9a749; font-size: 18px;' }
              SUNRA
            .ls{style: 'color: #f9a749;' }
              Secure Usable Networked Recording Appliance
        .navbar-collapse.collapse
          #contact-info.navbar-right{itemscope: ""}
            %a#mail{href: 'mailto:leej@sunra.io', 'hidden': true, itemprop: 'email'}
              leej@sunra.io
        / /.navbar-collapse
    = render partial: "shared/admin_nav_bar" if admin_signed_in?
    .container
      = yield
    #footer.navbar{:style => "margin-bottom:0px;margin-left:0px;margin-right:0px;clear:both;"}
      .container
        %p.pull-right
